MONGO_URI=mongodb+srv://<username>:<mdp>@m1p13-mean-sergiana-haj.v9iqbkb.mongodb.net/?appName=m1p13-mean-sergiana-hajaina
PORT=3000
JWT_SECRET=I9moBrPUn5usYLFk2F3kPnEM4e5bsljlAobSaxhr1UI
JWT_EXPIRES_IN=1d